
*.ps1
code/frontend/node_modules
*.cmd

*.pack
*.pack
code/frontend/node_modules/.cache/default-development/0.pack
code/frontend/node_modules/.cache/default-development/index.pack
*.pack
*.pack
*.pack
